html, body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

body {
/*   display: flex;
  align-items: center;
  justify-content: center; */
  margin: 1em;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  background: black;
  overflow: hidden;
}

#api {
  width: 100%;
  height: 100%;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  color: white;
  background: black;
  border: 0;
}

#timer {
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 1;
  font-size: 8em;
  color: white;
}

#visualization {
  transform: scale(-1, 1);
}
